<div class="container my-5">
    <div class="mb-3"><h4>Edit New Product</h4></div>
    <form #from="ngForm" (ngSubmit)="UpdateProduct()">
        <div class="mb-3">
          <label for="ProductName" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="ProductName" [(ngModel)]="productDetails.Name" 
          [ngModelOptions]="{standalone: true}" name="ProductName">
        </div>
        <div class="mb-3">
            <label for="SKU" class="form-label" [(ngModel)]="productDetails.SKU" name="SKU">{{SKU_lable}}</label>
            <button type="button" class="btn btn-primary" (click)="GenerateSKU()">Generate SKU</button>
          </div>

        <div class="mb-3">
            <label for="Category" class="form-label">Category</label>
            <select  class="form-control"[(ngModel)]="productDetails.CategoryId" name="categoryId" required>
                <option *ngFor="let category of Category" class="form-control" [value]="category.CategoryId">
                  {{ category.CategoryName }}
                </option>
              </select>
        </div>
          <div class="mb-3">
            <label for="BasePrice" class="form-label">Base Price</label>
            <input type="number" class="form-control" id="BasePrice" [(ngModel)]="productDetails.BasePrice" name="BasePrice">
          </div>
          <div class="mb-3">
            <label for="MRP" class="form-label">MRP</label>
            <input type="number" class="form-control" id="MRP" [(ngModel)]="productDetails.MRP" required name="MRP">
          </div>
          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="Description" [(ngModel)]="productDetails.Description" required name="Description">
            </textarea>
          </div>
          <div class="mb-3">
            <label for="Currency" class="form-label">Currency</label>
            <input type="text" class="form-control" id="Currency" [(ngModel)]="productDetails.Currency" required name="Currency">
          </div>
          <!-- <div class="mb-3">
            <label for="ManufacturedDate" class="form-label">Manufactured Date </label>
            <input type="date" class="form-control" id="ManufacturedDate"  [(ngModel)]="productDetails.ManufacturedDate"
            name="ManufacturedDate" required>
          </div> -->
          <div class="mb-3">
            <label for="expireDate">Expire Date</label>
             <input type="date" id="expireDate"class="form-control" 
              [(ngModel)]="productDetails.ExpireDate" name="expireDate" [min]="today" required />
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>